body {
    font-family: Arial;
    background-image: url(Screenshot\ 2025-03-03\ 14.57.33.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav {
    background: linear-gradient(to right, lightblue, lightgreen);
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 15px 20px;
    transition: background-color 0.3s;
    display: block;
}

nav a:hover {
    background-color: white;
}

.rizz {
    color: black;
    text-align: center;
}