body {
    font-family: Arial;
}

.nav {
    background-color: lightblue;
    overflow: hidden;
}

.nav a {
    text-decoration: none;
    color: black;
    padding: 15px;
    display: block;
    float: left;
}